*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}

/* стили бургера */


.burger-menu_button{
    display: none;
    position: fixed;
    top: 25px;
    right: 10px;
    z-index: 30;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #85A0DE;
    transition: 0.5s;
}
.burger-menu_button:hover .burger-menu_lines{
    filter: brightness(1);
}
.burger-menu_lines,
.burger-menu_lines::before,
.burger-menu_lines::after{
    position: absolute;
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
}
.burger-menu_lines{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.burger-menu_lines::before{
    content: "";
    top: -8px
}
.burger-menu_lines::after{
    content: "";
    bottom: -8px;
}

.burger-menu_active .burger-menu_button,
.burger-menu_active .burger-menu_lines{
    background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before{
    top: 0;
    transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after{
    top: 0;
    transform: rotate(-45deg);
}
.burger-menu_nav{
    padding-top: 0px;
    position: fixed;
    z-index: 20;
    display: flex;
    flex-flow: column;
    height: auto;
    background-color: #fff;
    overflow-y: auto;
    /* top: -100%; */
    transform: translateY(-100%);
    transition: 0.5s;
    width: 100vw;
}
.burger-menu_active .burger-menu_nav{
    /* top: 0; */
    transform: translateY(0);
}
.burger-menu_link{
    padding: 15px 30px;
    text-decoration: none;
    list-style: none;
    font-size: 16px;
    line-height: 19.5px;
    /* text-transform: uppercase; */
    font-weight: 400;
    color:#7A7A7A;
    /* letter-spacing: 3px; */
}
.burger-menu_link:hover{
    color: #85A0DE;
    font-weight: 700;
    background-color: #F4FAF9;
    font-size: 17px;
    /* filter: brightness(0.8); */
}
.burger-menu_overlay{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
}
.burger-menu_active .burger-menu_overlay{
    display: block;
}
.div-logo{
    display: flex;
    justify-content: start;
    padding: 0 25px;
    align-items: center;
    background-color: #85A0DE;
    height: 100px;
}


/* стили кнопки вверх */


.back-to-top{
    position: fixed;
    z-index: 25;
    right: 15px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    border-color: transparent;
    border-radius: 50%;
    background-color: #85A0DE;
    display: none;
}
.back-to-top:hover,
.back-to-top:focus{
    background-color: #FF6669;
    /* filter: brightness(1.5); */
    outline: none;
}
.back-to-top::before,
.back-to-top::after{
    content: '';
    position: absolute;
    top: 49%;
    left: 48%;
    transform: translate(-50%, -50%);
}
.back-to-top::before{
    width: 5px;
    height: 25px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #f5f0f6;
}
.back-to-top::after{
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%) rotate(45deg);
    border-top: 5px solid #fff;
    border-left: 5px solid #fff;
}


/* header */

.wrapper{
    display: flex;
    max-width: 1220px;
    width: 100%;
    padding: 0 25px;
}
header{
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    z-index: 25;
    display: flex;
    justify-content: center;
    background-color: #85A0DE;   
    height: 100px;
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-img{
    width: 315px;
    height: 70px;
}
.logo-img-2{
    display: none;
}
.nav-bar{
    display: flex;
}
.nav-bar a{
    color: #fff;
    text-decoration: none;
    margin-left: 25px;
}
.nav-bar a:hover{
    color: #FF6669;
}


/* top */

.position-class{
    display: flex;
    justify-content: center;
    position: relative;
}
.top-content{
    z-index: 5;
    margin-top: 172px;
}
.top-left{
    margin-top: 73px;
    width: 570px;
    margin-right: 37px;
}
.top-left img{
    display: none;
}
.top-left h1{
    color: #4D4D4D;
    font-size: 50px;
    line-height: 60px;
    font-weight: 900;
    text-transform: uppercase;
}
.top-left h2{
    color: #46DBC9;
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
    text-transform: uppercase;
}
.top-left p{
    color: #4D4D4D;
    font-size: 22px;
    line-height: 30.8px;
    font-weight: 400;
    margin-top: 27px;
}
.top-left a{
    display: block;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    width: 270px;
    height: 65px;
    background-color: #FF6669;
    border: none;
    outline: none;
    text-decoration: none;
    border-radius: 40px;
    margin-top: 32px;
    padding: 20px 0 0 60px;
}
.top-left a:hover{
    background-color: #fb3639a1;
}
.top-left a:active{
    background-color: #e91e21d8;
}
.top-right img{
    max-width: 742px;
    width: 100%;
}
.backgroung-img-top{
    position: absolute;
}
.backgroung-img-top:nth-child(2){
    left: 250px;
    top: 210px;
    z-index: 1;
}
.backgroung-img-top:nth-child(3){
    right: 250px;
    top: 200px;
    z-index: 1;
}


/* intro */



.intro-content{
    z-index: 5;
    margin-top: 100px;
    justify-content: space-around;
}
.intro-left img{
    max-width: 394px;
    width: 100%;
}
.intro-right{
    width: 470px;
}
.intro-right h1{
    color: #434343;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 42px;
}
.intro-right span{
    color: #46DBC9;
}
.intro-right p{
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 25px;
}
.intro-left-back-img{
    position: absolute;
    left: 220px;
    top: 70px;
}
.intro-right-back-img{
    position: absolute;
    right: 450px;
    top: 550px;
}


/* target */


.target-content{
    z-index: 5;
    margin-top: 100px;
    justify-content: space-between;
}
.target-left{
    margin-top: 23px;
    width: 570px;
}
.target-left h1{
    color: #434343;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 36px;
}
.target-left p{
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 25px;
}
.target-right{
    padding-right: 160px;
}
.target-right img{
    max-width: 340px;
    width: 100%;
}
.target-left-back-img{
    position: absolute;
    left: 129px;
    top: 340px;
}
.target-right-back-img{
    display: none;
}


/* social */


.social-content{
    z-index: 5;
    margin-top: 100px;
    justify-content: space-between;
}
.social-left .social-left-change:nth-child(2){
    display: none;
}
.social-left img{
    max-width: 555px;
    width: 100%;
}
.social-right{
    margin-top: 52px;
    width: 543px;
}
.social-right h1{
    color: #434343;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    margin-bottom: 28px;
}
.social-right p{
    color: #434343;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 25px;
    width: 470px;
}
.social-right-back-img{
    position: absolute;
    right: 179px;
    top: 0px;
}


/* network */



.network-content{
    z-index: 5;
    margin-top: 100px;
    flex-direction: column;
}
.network-content .network-box:nth-child(1){
    margin-bottom: 50px;
}
.network-box{
    display: flex;
    justify-content: start;
}
.network-box .network-cell:nth-child(1){
    margin-right: 85px;
}
.network-cell{
    width: 600px;
}
.cell-inside{
    display: flex;
    align-items: center;
}
.cell-inside h3{
    color: #85A0DE;
    font-weight: 600;
    font-size: 36px;
    line-height: 150%;
    margin-left: 20px;
}
.network-cell p{
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #434343;
    margin-top: 15px;
}
.network-right-back-img{
    position: absolute;
    right: 150px;
    top: 439px;
}


/* request_form */


.request_form-content{
    margin-top: 50px;
    justify-content: space-between;
}
.request_form-right .form-right-change:nth-child(1){
    max-width: 764px;
    width: 100%;
}
.request_form-right .form-right-change:nth-child(2){
    display: none;
}
.request_form-left{
    margin-top: 87px;
    width: 470px;
}
.request_form-left h1{
    font-weight: 900;
    font-size: 54px;
    line-height: 120%;
    color: #434343;
}
.submit-form{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
}
.submit-form input{
    font-size: 22px;
    line-height: 30.8px;
    margin-bottom: 25px;
    border: 2px solid #85A0DE;
    border-radius: 40px;
    height: 65px;
    padding: 17px 25px;
    outline: none;
}
.submit-form input::-webkit-input-placeholder{
    color: rgba(112, 131, 175, 0.8);
}
.submit-form button{
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #fff;
    background-color: #FF6669;
    height: 65px;
    border-radius: 40px;
    outline: none;
    border: none;
    margin-top: 12px;
}
.submit-form button:hover{
    background-color: #fb3639a1;
}
.submit-form button:active{
    background-color: #e91e21d8;
}


/* footer */


footer{
    background-color: #85A0DE;
    padding-bottom: 170px;
    color: #fff;
}
.footer-content{
    margin-top: 53px;
    justify-content: space-between;
}
.logo-footer .logo-footer-img:nth-child(1){
    display: inline;
}
.logo-footer .logo-footer-img:nth-child(2){
    display: none;
}
.footer-hr{
    margin-top: 17px;
}
.footer-hr a:hover{
    color: #FF6669;
    transform: scale(1.2);
}
.footer-hr-box{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.footer-viber-foto{
    margin-right: 15px;
}
.footer-viber-foto img:hover{
    transform: scale(1.2);
}
.footer-hr-box h4{
    font-weight: bold;
    font-size: 21px;
    line-height: 36.75px;
    margin-right: 30px;
}
.footer-hr-box a{
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 31.5px;
    text-decoration: none;
}
.footer-info a{
    text-decoration: none;
    color: #fff;
}
.footer-info-address p{
    font-weight: normal;
    font-size: 18px;
    line-height: 175%;   
    text-align: right;
    margin-bottom: 8px;
}
.footer-info-address a:hover{
    color: #FF6669;
}
.footer-info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 17px;
}
.footer-icons{
    margin-top: 12px;
}
.footer-icons i{
    font-size: 25px;
    margin-left: 20px;
}
.footer-icons i:hover{
    color: #FF6669;
    transform: scale(1.5);
}




















@media screen and (max-width: 1366px){
    .backgroung-img-top:nth-child(2){
        left: 60px;
        top: 150px;
        z-index: 1;
    }
    .backgroung-img-top:nth-child(3){
        right: 100px;
        top: 200px;
        z-index: 1;
    }
    .intro-left-back-img{
        left: 60px;
        top: 40px;
    }
    .intro-right-back-img{
        right: 150px;
        top: 520px;
    }
    .target-left-back-img{
        display: none;
    }
    .social-right-back-img{
        position: absolute;
        right: 20px;
        top: 0px;
    }
    .network-right-back-img{
        position: absolute;
        right: 10px;
        top: 439px;
    }
}



@media screen and (max-width: 1220px) {
    .wrapper{
        width: 100vw;
    }
    .backgroung-img-top:nth-child(2){
        display: none;
    }
    .backgroung-img-top:nth-child(3){
        display: none;
    }
    .target-right{
        padding-right: 50px;
    }
    .social-right-back-img{
        display: none;
    }
    .network-right-back-img{
        display: none;
    }
    .network-box{
        justify-content: space-between;
    }
    .network-box .network-cell:nth-child(1){
        margin-right: 10px;
    }
}

@media screen and (max-width: 1050px){
    footer{
        margin-top: 50px;
    }
}

@media screen and (max-width: 1000px){
    .top-left{
        margin-top: 70px;
        margin-right: 15px;
    }
    .intro-left-back-img{
        display: none;
    }
    .intro-right-back-img{
        display: none;
    }
    .target-right{
        padding-right: 0px;
    }
    .network-box{
        display: flex;
        flex-direction: column;
    }
    .network-content .network-box:nth-child(1){
        margin-bottom: 0px;
    }
    .network-cell{
        width: 100%;
        margin-bottom: 30px;
    }
    /* footer */

    footer{
        padding-bottom: 50px;
    }
    .footer-content{
        margin-top: 50px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .footer-info{
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 0;
    }
    .footer-info-address p{ 
        text-align: center;  
    }
    .footer-icons i{
        margin: 0 10px;
    }
    .footer-icons{
        margin-top: 12px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 896px){
    .nav-bar{
        display: none;
    }
    .burger-menu_button {
        display: block;
    }
    .request_form-content{
        margin-top: 0px;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
    }
    .request_form-left h1{
        text-align: center;
    }
    .request_form-left{
        margin-top: 0px;
    }
}

@media screen and (max-width: 768px){
    .top-left img{
        display: block;
    }
    .top-right img{
       display: none;
    }
    .top-content{
        margin-top: 100px;
    }
    .top-left{
        margin-top: 0;
    }
    .top-left h2{
    
        font-size: 40px;
    }
    /* intro */
    .intro-content{
        flex-direction: column;
    }
    .intro-right{
        width: 100%;
    }

    /* target */

    .target-content{
        flex-direction: column-reverse;
    }
    .target-left{
        margin-top: 23px;
        width: 100%;
    }
    .intro-right h1{
        margin-top: 15px;
        font-size: 40px;
    }
    /* social */
    .social-content{
        flex-direction: column;
    }
    .social-right{
        width: 100%;
    }
    .social-right p{
        width: 100%;
    }
}

@media screen and (max-width: 500px){
    .request_form-left{
        width: 100%;
    }
}

@media screen and (max-width: 465px){
    .wrapper{
        padding: 0 15px;
    }
    header{
        height: 60px;
    }
    .wrapper{
        padding: 0 8px;
    }
    .logo-img{
        display: none;
    }
    .logo-img-2{
        display: inline;
        width: 32px;
        height: 32px;
    }
    .burger-menu_button{
        top: 7px;
        right: 0;
    }
    .div-logo{
        display: none;
    }
    .burger-menu_nav{
        padding-top: 65px; 
    }
    .burger-menu_link{
        padding: 10px 15px;
        font-size: 14px;
    }

    /* top */

    .top-content{
        margin-top: 70px;
        justify-content: center;

    }
    .top-left{
        width: 100%;
        margin-right: 0px;
    }
    .top-left h1{
        font-size: 36px;
        line-height: 43.2px;
    }
    .top-left h2{
        margin-top: 5px;
        font-size: 33px;
        line-height: 33.6px;
        font-weight: 800;
    }
    .top-left p{
        font-size: 14px;
        line-height: 19.6px;
        margin-top: 24px;
    }
    .top-left a{
        font-size: 18px;
        line-height: 21.6px;
        width: 304px;
        height: 59px;
        margin: 0 auto;
        margin-top: 25px;
        padding: 20px 0 0 85px;
    }
    .top-left img{
        margin: 0 auto;
    }
    /* intro */
    .intro-content{
        align-items: center;
    }
    .intro-left img{
        display: block;
        max-width: 320px;
        margin: 0 auto;
    }
    .intro-right{
        width: 100%;
    }
    .intro-right h1{
        font-size: 24px;
        line-height: 28.8px;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .intro-right p{
        font-size: 14px;
        line-height: 19.6px;
        margin-top: 15px;
    }

    /* target */
    .target-right-back-img{
        display: inline;
        position: absolute;
        top: 42px;
        right: 39px;
    }
    .target-content {
        align-items: center;
    }
    .target-left{
        margin-top: 0;
    }
    .target-left h1{
        font-size: 24px;
        line-height: 28.8px;
        margin-bottom: 15px;
        margin-top: 50px;
    }
    .target-left p{
        font-size: 14px;
        line-height: 19.6px;
    }
    /* social */
    .social-right{
        margin-top: 0px;
    }
    .social-right h1{
        font-size: 24px;
        line-height: 28.8px;
        margin-bottom: 15px;
        margin-top: 32px;
    }
    .social-right p{
        font-size: 14px;
        line-height: 19.6px;
    }
    /* network */
    .cell-inside h3{
        font-size: 22px;
    }
    .network-cell p{
        font-size: 14px;
        margin-top: 20px;
    }
    .cell-inside img{
        width: 55px;
    }
    /* request_form */

    .request_form-right .form-right-change:nth-child(1){
        display: none;
    }
    .request_form-right .form-right-change:nth-child(2){
        display: inline;
    }
    .request_form-left h1{
        font-size: 24px;
        line-height: 28.8px;
    }
    .submit-form{
        margin-top: 15px;
    }
    .submit-form input{
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 22.4px;
        height: 59px;
        padding: 19px 20px;
    }
    .submit-form button{
        margin-top: 5px;
        font-size: 18px;
        line-height: 21.6px;
        height: 59px;       
    }
}

@media screen and (max-width: 375px){
    .top-content{
        margin-top: 45px;
    }
    .target-content {
        align-items: flex-start;
    }
    .target-right img{
        width: 239px;
    }
    /* social */
    .social-left .social-left-change:nth-child(2){
        display: inline;
    }
    .social-left .social-left-change:nth-child(1){
        display: none;
    }
    .request_form-left h1{
        text-align: start;
    }
    main *{
        width: 100%;
    }
    main{
        padding-bottom: 50px;
    }
    .target-right-back-img{
        display: none;
    }
    /* footer */
    .logo-footer .logo-footer-img:nth-child(1){
        display: none;
    }
    .logo-footer .logo-footer-img:nth-child(2){
        display: inline;
    }
    .footer-content{
        margin-top: 80px;
        justify-content: start;
        align-items: flex-start;
    }
    .footer-hr{
        margin-top: 50px;
    }
    .footer-hr-box h4{
        font-size: 20px;
        line-height: 36px;
        margin-right: 15px;
    }
    .footer-hr-box a{
        font-size: 14px;
        line-height: 24px;
    }
    .footer-info{
        width: 100%;
    }
    .footer-info-address{
        width: 100%;
    }
    .footer-icons{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 48px;
        margin-bottom: 30px;
    }
    .footer-info-address p{ 
        text-align: start;  
    }
    .footer-icons i{
        font-size: 35px;
        margin: 0;
    }
    .footer-info-address p{
        font-size: 16px;
        margin-bottom: 5px;
    }
    footer{
        
        padding-bottom: 74px;
        
    }
}